[submodule "vim/vim/bundle/ctrlp"]
	path = vim/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/delmitmate"]
	path = vim/vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/vim/bundle/pyflakes"]
	path = vim/vim/bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/supertab"]
	path = vim/vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/vim/bundle/tagbar"]
	path = vim/vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/solarized"]
	path = vim/vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/checksyntax"]
	path = vim/vim/bundle/checksyntax
	url = git://github.com/tomtom/checksyntax_vim.git
[submodule "vim/vim/bundle/pydoc"]
	path = vim/vim/bundle/pydoc
	url = git://github.com/fs111/pydoc.vim.git
[submodule "vim/vim/bundle/pythoncomplete"]
	path = vim/vim/bundle/pythoncomplete
	url = git://github.com/mjbrownie/pythoncomplete.vim.git
